<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="format-detection" content="address=no;">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>教程</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" type="text/css" href="css/mobilecommon.css">
    <link rel="stylesheet" type="text/css" href="css/swiper.css">
    <link rel="stylesheet" type="text/css" href="css/mobile.css">
    <link rel="stylesheet" type="text/css" href="css/mobile1.css">
</head>

<body>
    <div class="loadingbg"></div>
    <div class="jc">
        <header class="header-top integral-detail">
            <a href="javascript:history.back();" class="back"></a>
            <span class="header-title header-integral-title">教程</span>
        </header>

       <div class="jcTop">
            <h3>宝宝车</h3>
            <h2>童车放心租</h2>
            <p>花聪明的钱，给宝宝阻个车</p>
            <a href="" class="homeMore">了解详情
                <img id="right" src="./image/home/right.png" alt="">
            </a>
       </div>

       <div class="dzfs">
            <h4>多种租赁方式</h4>
            <h5>总有一种适合您</h5>
            <div class="rz">
                <img src="./image/jc/rz.png" alt="">
                <p>按天计算，最低仅需30元／月，即可给予宝宝各式大牌童车玩具。宝宝兴趣变化快，灵活日租，满足宝宝所需。</p>
            </div>
            <div class="hy">
                <img src="./image/jc/hy.png" alt="">
                <p>免租金、免运费，各式童车随心选有效期内按次更换，每次二件日租产品专项7折优惠。</p>
            </div>
       </div>
       <div class="dzfs dzfs1">
            <h4>品牌童车 安全保障</h4>
            <h5>KIKIPIG童车全部采购知名大牌，给宝宝最好的</h5>
            <div class="dzfsbo">
                <div>
                    <img src="./image/jc/c.png" alt="">
                </div>
                <div>
                    <img src="./image/jc/c1.png" alt="">
                </div>
            </div>
       </div>
       <div class="dzfs dzfs2">
            <h4>专业消毒 确保卫生安全</h4>
            <h5>将宝宝的安全放在第一位，对每件童车严格执行，消毒流程工序，为宝宝健康保价护航。</h5>
            <img class="gx" src="./image/jc/Bitmap_1.png" alt="">
       </div>

       <div class="video">
            <video id="video" poster="http://img.ozuzu.cn/static/upload/brand/images/2018/04/08/093647xJnkWJEROB.png">
                <source src="http://img.ozuzu.cn/static/upload/brand/video/2018/04/08/091102hUdJrPrhSL.MP4" type="video/mp4">
            </video>
            <img class="startVideo" src="./image/jc/play.png" alt="">
        </div>

        <div class="dzfs dzfs2">
            <h4>微损免赔 使用安心</h4>
            <h5>童车玩具非常耐用，kikipig全部采用品牌正品，质量更有保障。正常损耗或轻微损坏无需任何赔偿；<br>使用过程中，产品故障一个电话直接上门更换</h5>
            <a class="xq" href="">查看童车赔偿详情 >></a>
        </div>

        <div class="dzfs dzfs2 dzfs4">
            <h4>如何使用KIKIPIG</h4>
            <h5>轻松一点 品牌童车送到家</h5>
            
            <div>
                <img src="./image/jc/Bitmap.png" alt="">
                <p>通过KIKIPIG微信公众号选择宝贝喜欢的童车（注意符合宝贝的年龄）</p>
            </div>
            <div class="r">
                <img src="./image/jc/Bitmap2.png" alt="">
                <p>等待KIKIPIG送童车上门并确认签收，使用中出现故障随时予以更换</p>
            </div>
            <div>
                <img src="./image/jc/Bitmap.png" alt="">
                <p>租期结束可以选择续租或让KIKIPIG上门将童车取回</p>
            </div>
        </div>

    </div>
            
    <script data-main="js/other" defer async="true" src="js/require.js"></script>
</body>

</html>