<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="format-detection" content="address=no;">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>详情</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" type="text/css" href="css/mobilecommon.css">
    <link rel="stylesheet" type="text/css" href="css/swiper.css">
    <link rel="stylesheet" type="text/css" href="css/mobile.css">
    <link rel="stylesheet" type="text/css" href="css/mobile1.css">
</head>

<body>
    <div class="loadingbg"></div>
    <div class="header-top-line"></div>
    <header class="header-top integral-detail">
        <a href="javascript:history.back();" class="back"></a>
        <span class="header-title header-integral-title">详情</span>
    </header>

    <div class="jc">
        <div class="ki_banner ki_banner_xq">
            <div class="banner-block swiper-container j-banner">
                <div class="swiper-wrapper">
                    <a href="javascript:void(0);" class="swiper-slide">
                        <img class="js-banner-block" src="./image/xq/pic4.png" alt="">
                    </a>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <a>613个宝宝玩过同款玩具，43个评价 ></a>
        </div>

        <section class="jc_top">
            <p>
                <span>PUKY平衡车LEARNER BIKES</span>
                <strong>1.5-3岁</strong>
            </p>
            <div>会员免费</div>
            <span>1.5元／天</span>
            <a class="go-shop" href="">配送费：¥30（含往返两趟上门费用）</a>
        </section>

        <section class="jc_top jc_top1">
            <p>
                <span>精选评价（4）</span>
            </p>

            <section>
                <img src="./image/xq/profile.png" alt="">

                <div>
                    <strong>李楠</strong>
                    <p>非常棒的车，买之前想试试，设计合理，适合非常棒的车，买之前想试试</p>
                    <div>
                        <img src="./image/xq/pic_1.png" alt="">
                        <img src="./image/xq/pic_2.png" alt="">
                        <img src="./image/xq/pic_3.png" alt="">
                    </div>
                </div>

                <a class="ckmore" href="">查看更多评论 ></a>
            </section>
        </section>

        <section class="jc_top2">
            <p>童车信息</p>
            <ul>
                <li>市场价</li>
                <li>¥699</li>
            </ul>
            <ul>
                <li>品牌</li>
                <li>Puky</li>
            </ul>
            <ul>
                <li>材质</li>
                <li>铝合金</li>
            </ul>
            <ul>
                <li>重量</li>
                <li>3kg</li>
            </ul>
            <ul>
                <li>规格</li>
                <li>75cm*15cm*45cm</li>
            </ul>
        </section>

        <section class="jc_top3">
            <p class="bt">锻炼能力</p>
            <p class="rule-summary">
                <span class="rule-icon"></span>平衡车协调能力，宝宝骑上车车时，手握车把控制车车的方向，脚蹬车踏使车车前进，综合锻炼宝宝四肢协调能力和大脑反应，让宝宝在骑行中成长。
            </p>
            <p class="rule-summary">
                <span class="rule-icon"></span>平衡车协调能力，宝宝骑上车车时，手握车把控制车车的方向，脚蹬车踏使车车前进，综合锻炼宝宝四肢协调能力和大脑反应，让宝宝在骑行中成长。
            </p>
            <p class="bt">玩具特色</p>
            <p class="rule-summary">
                <span class="rule-icon"></span>平衡车协调能力，宝宝骑上车车时，手握车把控制车车的方向，脚蹬车踏使车车前进，综合锻炼宝宝四肢协调能力和大脑反应，让宝宝在骑行中成长。
            </p>
            <p class="rule-summary">
                <span class="rule-icon"></span>平衡车协调能力，宝宝骑上车车时，手握车把控制车车的方向，脚蹬车踏使车车前进，综合锻炼宝宝四肢协调能力和大脑反应，让宝宝在骑行中成长。
            </p>
            <p class="bt">玩具展示</p>

        </section>
        <div class="zs">
            <img src="./image/xq/pic_4.png" alt="">
        </div>

        <div class="footer-go-z-line"></div>
        <a href="javascript:void(0);" class="footer-go-z jqMezu" href="">我要租</a>
    </div>

    <div class="shadow"></div>
    <div class="prize_shadow">
        <div>
            <div class="prize_shadow_top">
                <img src="./image/xq/pic_2.png" alt="">
                <p>PUKY平衡车LEARNER BIKES</p>
                <strong>
                    <span>1.5元／天</span>
                    <span>会员免费</span>
                    <span>1.5-3岁</span>
                </strong>
            </div>
            <div class="prize_shadow_main">
                <ul>
                    <li>选择规格</li>
                    <li class="select">
                        <select name="" id="">
                            <option value="" selected="selected">12寸黄色</option>
                            <option value="">13寸黄色</option>
                        </select>
                        <strong></strong> 
                    </li>
                </ul>
                <ul>
                    <li>选择租期</li>
                    <li class="select">
                        <select name="" id="">
                            <option value="" selected="selected">31天</option>
                            <option value="">31天</option>
                        </select>
                        <strong></strong> 
                    </li>
                </ul>
            </div>
            <div class="prize_shadow_bottm jc_top2">
                <ul>
                    <li>租金：</li>
                    <li>￥59</li>
                </ul>
                <ul>
                    <li>押金（归还后系统自动返还)：</li>
                    <li>￥519</li>
                </ul>
                <ul>
                    <li>代金券：</li>
                    <li>￥59</li>
                </ul>
                <ul>
                    <li>配送费（含往返）：</li>
                    <li>￥59</li>
                </ul>
            </div>
        </div>
        <div class="prize_shadow_footer">
            <div>合计：￥379</div>
            <div>确认</div>
        </div>
    </div>

    <script data-main="js/other" defer async="true" src="js/require.js"></script>
</body>

</html>