<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="format-detection" content="address=no;">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>选车</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" type="text/css" href="css/mobilecommon.css">
    <link rel="stylesheet" type="text/css" href="css/swiper.css">
    <link rel="stylesheet" type="text/css" href="css/mobile.css">
    <link rel="stylesheet" type="text/css" href="css/mobile1.css">
</head>

<body class="bgfff">
    <div class="loadingbg"></div>
    <div class="xc">
        
        <div class="header-top-line"></div>
        <header class="header-top integral-detail">
            <a href="javascript:history.back();" class="back"></a>
            <span class="header-title header-integral-title">选车</span>
        </header>
        <div class="homehotTop xcTop jqXcTop">
            <div class="active select">
                <select>
                    <option selected="selected" value="1">全部年龄</option>
                    <option value="2">全部年龄1</option>
                    <option value="3">全部年龄2</option>
                </select>
                <strong>全部年龄</strong> <img src="./image/xc/down.png" alt="">
            </div>
            <div class="select">
                <select>
                    <option selected="selected" value="1">全部类型</option>
                    <option value="2">全部类型1</option>
                    <option value="3">全部类型2</option>
                </select>
                <strong>全部类型</strong> <img src="./image/xc/down.png" alt="">
            </div>
            <div class="jqpx">
                综合排序
                <div class="pxSelect down">
                    <img src="./image/xc/Triangle_up.png" alt="">
                    <img src="./image/xc/Triangle_down.png" alt="">
                </div>
            </div>
        </div>
        <div class="homehotMain xchotMain">
            <div>
                <a href="" class="homehotMainImg">
                    <img src="./image/home/pic1.png" alt="">
                    <div>
                        <p>PUKY德国原装进口二PUKY德国原装进口二</p>
                        <div>
                            <p>会员免费</p>
                            <strong>1.5元／天</strong>
                        </div>
                    </div>
                </a>
                <a href="" class="homehotMainImg">
                    <img src="./image/home/pic1.png" alt="">
                    <div>
                        <p>PUKY德国原装进口二PUKY德国原装进口二</p>
                        <div>
                            <p>会员免费</p>
                            <strong>1.5元／天</strong>
                        </div>
                    </div>
                </a>
                <a href="" class="homehotMainImg">
                    <img src="./image/home/pic1.png" alt="">
                    <div>
                        <p>PUKY德国原装进口二PUKY德国原装进口二</p>
                        <div>
                            <p>会员免费</p>
                            <strong>1.5元／天</strong>
                        </div>
                    </div>
                </a>
                <a href="" class="homehotMainImg">
                    <img src="./image/home/pic1.png" alt="">
                    <div>
                        <p>PUKY德国原装进口二PUKY德国原装进口二</p>
                        <div>
                            <p>会员免费</p>
                            <strong>1.5元／天</strong>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="morejz">正在加载...</div>
    </div>
            
    <script data-main="js/other" defer async="true" src="js/require.js"></script>
</body>

</html>