.header-top{
    position: relative;
    width: 100%;
    height: 2.64rem;
    background: url(../image/integral//GroupCopy.png) no-repeat center;
    background-size: cover;
}
.fs0{
    font-size: 0;
}
a{
    color: #444;
}
.wrapper{
    position: relative;
}
.back,.header-title,.integral,.tab{
    position: absolute;
}
.back{
    position: absolute;
    top: .33rem;
    left: .11rem;
    display: inline-block;
    width: .25rem;
    height: .25rem;
    background: url(../image/integral//back.png) no-repeat center;
    background-size: cover;
    z-index: 2;
}
.header-title{
    top: .33rem;
    left: 1.54rem;
    width: .68rem;
    height: .24rem;
    line-height:.24rem;
    color: #444;
    font-size: .17rem;
}
.header-integral-title{
    width: 1.02rem;
}
.integral{
    position: relative;
    top: .77rem;
    left:1.39rem;
    width: .99rem;
    height: .99rem;
    border: 2px solid rgba(255, 255, 255, .6);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
}
.integral-detail{
    height: .64rem;
}
.point-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -.4rem;
    margin-left: -.4rem;
    width: .8rem;
    height: .8rem;
}
.point-title{
    margin-top: .2rem;
    font-size: .14rem;
    font-weight: 600;
    line-height:1 ;
}
.point{
    font-size: .32rem;
    letter-spacing: -2px;
    font-weight: 600;
    line-height:1 ;
}
.tab{
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 0;
}
.integral-store{
    background: url(../image/integral//integral-storebg.png) no-repeat center;
}
.integral-rules{
    background: url(../image/integral//integral-rulesbg.png) no-repeat center;
}
.integral-store,.integral-rules{
    padding: .1rem .54rem;
    display: inline-block;
    width: 50%;
    height: .4rem;
    line-height: 1;
    font-size: .16rem;
    color: #444;
    text-align: center;
    background-size: cover;
}
.tab-content{
    padding: 0 .22rem 0 .2rem;
}
.get-integral{
    padding: .26rem .46rem .2rem .44rem;
}
.rule{
    position: relative;
    margin-bottom: .09rem;
}
.rule-icon{
    position: absolute;
    top: .05rem;
    left: 0;
    display: inline-block;
    width: .11rem;
    height: .11rem;
    background: url(../image/integral/text_icon.png) no-repeat center;
    background-size: 100%;
}
.rule-summary{
    padding-left: .16rem;
    width: 3.17rem;
    font-size: .12rem;
}
.goods{
    padding: .1rem .2rem;
}
.goods span{
    display: inline-block;
    width: 50%;
    font-size: .14rem;
    color: #fea012;
}
.goods-price{
    text-align: right;
}
span.goods-title{
    margin-top: .1rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    color: #333;
}
.spec{
    margin: .1rem 0;
    padding: .1rem 0 .1rem .2rem;
}
.spec span{
    font-size: .14rem;
    height: .2rem;
    line-height: .2rem;
}
select{
    position: relative;
    border: none;
    font-size: .14rem;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    width: 80%;
    padding-left: .14rem;
    color: #999;
    opacity: 0;
    z-index: 2;
}
.select{
    position: relative;
}
.select img{
    width: .1rem;
    vertical-align: middle;
    margin-left: -.15rem;
}
.select strong{
    position: absolute;
    left: 0;
    top: 0;
    color: #999;
    font-weight: 400;
    z-index: 1;
}
.detail{
    padding: .2rem .22rem .2rem .2rem;
}
.detail-title{
    margin-bottom: .23rem;
    font-size: .16rem;
    height: .2rem;
    line-height: .2rem;
    text-align: center;
}
.integral-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
    overflow: hidden;
}
.buy,.exchange{
    display: inline-block;
    width: 50%;
    height: .48rem;
    line-height:.48rem;
    text-align: center;
    font-size: .16rem;
    color: #444;
}
.exchange{
    background: #F6DB65;
}
.footer-block{
    height: .48rem;
}
.user-wrap{
    padding: .3rem .29rem;
    background: #F6DB65;
}
.avatar{
    display: inline-block;
    width: .6rem;
    height: .6rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}
.name-wrap{
    position: relative;
    float: right;
    padding-left: .17rem;
    width: 2.57rem;
}
.name-wrap a{
    display: block;
    background: url(../image/integral/arrow_r.png) no-repeat right center;
    background-size: .15rem;
}
.user-name{
    margin-top: .08rem;
    height: .22rem;
    line-height: .22rem;
    font-size: .16rem;
}
.child-name{
    margin-top: .05rem;
    height: .17rem;
    line-height: .17rem;
    font-size: .12rem;
}
.goods-list{
    padding: .2rem .17rem .43rem 0;
}
.igoods-list>.homehotMainImg>div>div>p,.igoods-list>.homehotMainImg>div>div>strong{
    border: none;
    color: #fea012;
}
.igoods-list>.homehotMainImg{
    margin-bottom: .2rem;
    margin-left: .19rem;
}
.igoods-list>.homehotMainImg>div{
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}